.background-image {
  background-image: url("/images/forest-mountains-sunset-cool-weather-minimalism-yn-edit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.cloud-image {
  margin-top: 3rem;
  height: 10rem;
  width: 15rem;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.position-relative {
  position: relative;
}

.weather-forecast-text {
  font-size: 1.5rem;
  font-family: "Fredoka one", sans-serif;
  position: absolute;
  line-height: 1.2rem;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weather-forecast-nav-text {
  font-size: 1.5rem;
  font-family: "Fredoka one", sans-serif;
  justify-content: end;
}

.text-box {
  margin-top: 2rem;
  padding: 5px;
  height: 2.2rem;
  width: 15rem;
  border: none;
  border-radius: 5px;
}

.search-button {
  font-size: 17px;
  font-family: "Fredoka one", sans-serif;
  background-color: rgb(23, 125, 235);
  color: white;
  border: none;
  margin-top: 0.5rem;
  margin-left: 10rem;
  height: 2rem;
  width: 5rem;
  border-radius: 5px;
}

.favorites {
  display: none;
}

.nav-anchors {
  display: none;
}

.hamburger {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.575);
}

.column-two-third {
  flex-basis: calc(100%*(2/3));
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-half {
  flex-basis: calc(100% / 2);
}

.mt-10px {
  margin-top: 10px;
}

li {
  list-style: none;
  margin-top: 5rem;
}

.icon {
  height: 5rem;
}

.white-text {
  color: white;
}

.like-icon {
  height: 2rem;
  cursor: pointer;
}

.city-name {
  font-size: 3.5rem;
}

.temperature {
  font-size: 3.5rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.759);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#new-search-hamburger {
  color: white;
  cursor: pointer;
  font-size: 25px;
}

#favorites-hamburger {
  color: white;
  cursor: pointer;
  font-size: 25px;
}

.mt-5rem {
  margin-top: 5rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1500px;
  }

  .column-full {
    padding: 0 0.75rem;
  }

  .hamburger {
    display: none !important;
  }

  .favorites {
    display: block;
    text-decoration: none;
    font-family: "Fredoka one", sans-serif;
    color: white;
    margin-top: 0.5rem;
  }

  .nav-anchors {
    display: inline;
    text-decoration: none;
    font-family: "Fredoka one", sans-serif;
    color: white;
    margin: 0.8rem;
  }

  .cloud-image {
    margin-top: 3rem;
    height: 15rem;
    width: 20rem;
  }

  .weather-forecast-text {
    font-size: 2rem;
    font-family: "Fredoka one", sans-serif;
    line-height: 1.6rem;
  }

  .weather-forecast-nav-text {
    font-size: 1.5rem;
    font-family: "Fredoka one", sans-serif;
    padding-right: 10rem;
  }

  .text-box {
    margin-top: 2rem;
    padding: 5px;
    height: 2.5rem;
    width: 20rem;
    border: none;
    border-radius: 5px;
  }

  .search-button {
    font-size: 25px;
    font-family: "Fredoka one", sans-serif;
    background-color: rgb(23, 125, 235);
    color: white;
    border: none;
    margin-top: 0.5rem;
    margin-left: 13rem;
    height: 2.5rem;
    width: 7rem;
    border-radius: 5px;
  }

  .column-two-third {
    flex-basis: calc(100%*(2/3));
  }

  .column-one-third {
    flex-basis: calc(100% / 3);
  }

  li {
    list-style: none;
    margin: 5rem 20rem;
  }

  .mt-dt {
    margin-top: 25px;
  }

  .like-icon {
    height: 2rem;
    cursor: pointer;
    margin-right: 5rem;
  }
}
