li {
  list-style: none;
}

body {
  font-family: Fredoka, sans-serif;
}

ul {
  padding: 0;
}

h3 {
  margin: 0;
}

h1 {
  margin: 0;
}

.nav {
  top: 1rem;
  right: 2rem;
}

.background-image {
  background-image: url("../images/forest-mountains-sunset-cool-weather-minimalism-yn-edit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.overlay {
  background-color: rgba(49, 51, 62, 0.695);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.modal-box {
  background-color: white;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 2rem;
  width: 25rem;
  height: 13rem;
  margin-top: 10rem;
}

.cloud-image {
  margin-top: 3rem;
  height: 10rem;
  width: 15rem;
}

.justify-center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.justify-end-heart {
  justify-content: end;
}

.justify-end-trash {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.col-half {
  flex-basis: calc(100% / 2);
}

.column-one-third {
  flex-basis: 29%;
}

.mt-5rem {
  margin-top: 5rem;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.mt-10px {
  margin-top: 10px;
}

.pr-heart {
  padding-right: 3rem;
}

.weather-forecast-text {
  font-size: 1.5rem;
  font-family: "Fredoka one", sans-serif;
  line-height: 1.2rem;
  position: absolute;
  top: 7rem;
  right: -3.4rem;
}

.weather-forecast-nav-text {
  font-size: 1rem;
  font-family: "Fredoka one", sans-serif;
  justify-content: end;
}

.text-box {
  margin-top: 2rem;
  padding: 5px;
  height: 2.2rem;
  width: 15rem;
  border: none;
  border-radius: 5px;
}

.search-button {
  font-size: 17px;
  font-family: "Fredoka one", sans-serif;
  background-color: rgb(23, 125, 235);
  color: white;
  border: none;
  margin-top: 0.5rem;
  margin-left: 10rem;
  height: 2rem;
  width: 5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

button:hover {
  background-color: rgb(159, 189, 221);
}

a:hover,
i:hover {
  color: rgb(111, 170, 232);
}

.nav-anchors {
  display: none;
}

.hamburger {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.575);
  transition: color 0.5s;
}

#new-search-hamburger {
  color: white;
  cursor: pointer;
  font-size: 25px;
  transition: color 0.5s;
}

#new-search-hamburger:hover {
  color: rgb(111, 170, 232);
}

#favorites-hamburger {
  color: white;
  cursor: pointer;
  font-size: 25px;
  transition: color 0.5s;
}

#favorites-hamburger:hover {
  color: rgb(111, 170, 232);
}

.white-text {
  color: white;
}

.open-weather-icon {
  height: 7rem;
}

.like-icon {
  height: 2rem;
  cursor: pointer;
}

#fa-heart {
  transition: color 0.5s;
}

.trash-icon {
  height: 2rem;
  cursor: pointer;
  margin-right: 2rem;
  transition: color 0.5s;
}

.city-name {
  font-size: 3.5rem;
}

.temperature {
  font-size: 3rem;
}

.delete-text {
  font-family: Fredoka, sans-serif;
  margin-top: 2rem;
  font-size: 1.4rem;
}

.delete-buttons {
  margin-top: 3rem;
}

.yes-button {
  border: none;
  background-color: rgb(23, 125, 235);
  color: white;
  border-radius: 15px;
  font-size: 2rem;
  padding: 0.5rem 2.4rem;
  margin-right: 1rem;
  font-family: "Fredoka one", sans-serif;
  cursor: pointer;
  transition: background-color 0.5s;
}

.no-button {
  border: none;
  background-color: rgb(23, 125, 235);
  color: white;
  border-radius: 15px;
  font-size: 2rem;
  padding: 0.5rem 2.5rem;
  margin-left: 1rem;
  font-family: "Fredoka one", sans-serif;
  cursor: pointer;
  transition: background-color 0.5s;
}

.li-fav {
  background-color: rgba(49, 51, 62, 0.252);
  border-radius: 50px;
}

.city-background {
  background-color: rgba(49, 51, 62, 0.252);
  border-radius: 50px;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(49, 51, 62, 0.252);
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-cities {
  margin-top: 7rem;
  color: white;
}

@media screen and (min-width: 768px) {
  li {
    list-style: none;
  }

  .favorite-page-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .li-fav {
    background-color: rgba(49, 51, 62, 0.252);
    border-radius: 50px;
  }

  .city-font {
    font-size: 1.5rem;
  }

  .favorite-font {
    font-size: 1.5rem;
  }

  .column-full {
    padding: 0 0.75rem;
  }

  .column-two-third {
    flex-basis: calc(100%*(2/3));
  }

  .column-half {
    flex-basis: calc(100%/2);
  }

  .col-half {
    flex-basis: calc(100%/2);
  }

  .column-one-third {
    flex-basis: calc(100% / 3);
  }

  .hamburger {
    display: none !important;
  }

  .flex-and-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .justify-start {
    justify-content: start;
  }

  .justify-end {
    justify-content: end;
  }

  .position-absolute {
    position: absolute;
  }

  .position-relative {
    position: relative;
  }

  .padding-left-15px {
    padding-left: 15px;
  }

  .padding-left-city {
    padding-left: 2rem;
  }

  .padding-right-city {
    padding-right: 2rem;
  }

  .padding-left-20px {
    padding-left: 20px;
  }

  .pr-heart {
    padding-right: 2rem;
  }

  .nav-anchors {
    display: inline;
    text-decoration: none;
    font-family: "Fredoka one", sans-serif;
    color: white;
    margin: 0.8rem;
    transition: color 0.5s;
  }

  .weather-forecast-nav-text {
    font-size: 1.5rem;
    font-family: "Fredoka one", sans-serif;
  }

  .cloud-image {
    margin-top: 3rem;
    height: 15rem;
    width: 20rem;
    position: relative;
  }

  .weather-forecast-text {
    font-size: 2rem;
    font-family: "Fredoka one", sans-serif;
    line-height: 1.6rem;
    position: absolute;
    top: 9.5rem;
    left: -4rem;
  }

  .text-box {
    margin-top: 2rem;
    padding: 5px;
    height: 2.5rem;
    width: 20rem;
    border: none;
    border-radius: 5px;
  }

  .search-button {
    font-size: 25px;
    font-family: "Fredoka one", sans-serif;
    background-color: rgb(23, 125, 235);
    color: white;
    border: none;
    margin-top: 0.5rem;
    margin-left: 13rem;
    height: 2.5rem;
    width: 7rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
  }

  .like-icon {
    height: 2rem;
    cursor: pointer;
    right: 19rem;
    transition: color 0.5s;
  }

  .trash-icon {
    height: 2rem;
    cursor: pointer;
    margin-right: 4rem;
    transition: color 0.5s;
  }

  .no-cities {
    margin-top: 10rem;
    color: white;
  }
}

@keyframes ldio-qmq7uvoq438 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.ldio-qmq7uvoq438 div {
  position: absolute;
  box-sizing: content-box;
  width: 20px;
  height: 80px;
  top: 60px;
  animation: ldio-qmq7uvoq438 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.ldio-qmq7uvoq438 div:nth-child(1) {
  transform: translate(30px, 0);
  background: #85a2b6;
  animation-delay: -0.6s;
}

.ldio-qmq7uvoq438 div:nth-child(2) {
  transform: translate(70px, 0);
  background: #bbcedd;
  animation-delay: -0.4s;
}

.ldio-qmq7uvoq438 div:nth-child(3) {
  transform: translate(110px, 0);
  background: #dce4eb;
  animation-delay: -0.2s;
}

.ldio-qmq7uvoq438 div:nth-child(4) {
  transform: translate(150px, 0);
  background: #fdfdfd;
  animation-delay: -1s;
}

.loadingio-spinner-bars-dxwxldj3nq5 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.ldio-qmq7uvoq438 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

/* .ldio-qmq7uvoq438 div {
  box-sizing: content-box;
} */
